.breadcrumb {
    margin: 0px auto 5px;
    background: url(../images/breadcrumb.png) no-repeat left center;
    line-height: 40px;
    padding-left: 30px;
    ul {
        @include li-reset;
        li {
            display: inline-block;
            margin: 0px .1em .1em 0px;
            &:before {
                content: "> ";
            }
            &:first-child:before {
                content: "";
                display: inline-block;
                color: #666;
                margin-left: 0;
                padding: 0;
            }
        }
    }
    a {
        @include aSetting_nocolor;
    }
}