footer {
  box-sizing: border-box;
  @include clearfix;
  text-align: left;
  .container {
    display: flex;
    flex-wrap:wrap;
    background:url(../images/footer_bg.png) no-repeat left bottom,url(../images/bg.jpg) no-repeat 0 0;
    padding: 140px 80px 10px 80px; 
    min-height: 320px;
    justify-content: space-between;
    @include screen('tablet') {
    }
    @include screen('mobile') {
      display: block;
      padding: 0 30px 10px 30px; 
      text-align: center;
      line-height: 110%;
    }
    >div {
      padding-bottom: 1em;
      @include screen('mobile') {
        padding-bottom: 0.5em;
      }
    }
  }
  a {
    text-decoration: none;
    color: $primaryColor;
    &:hover,
    &:focus {
      color: darken($primaryColor, 10);
    }
  }
  .footer_logo {
    flex:0 1 40%;
    @include screen('mobile') {
      a{
        height: 60px;
        display: block;
        background: url(../images/logo.png) no-repeat center top;
        img{
          display: none;
        }
      }
    }
  }
  .footer_link {
    flex:0 1 60%;
    margin-top: 4px;
    ul{
      @include li-reset();
      display: flex;
      float: right;
      @include screen('mobile') {
        flex-wrap:wrap;
        float: none;
        display: inline-block;
      }
    }
    li {
      flex:0 1 auto;
      margin:0 0 0 5px;
      margin-top: 8px;
      @include screen('mobile') {
        // flex:1 1 100%; 
        margin:0 0 5px 5px;
        display: inline-block;
      }
      a {
        display: block;
        padding: .4em 1em; 
        color: #FFF;
        text-align: center;
        transition: all .3s ease-out;
        @include screen('mobile') {
          background:$lightColor;
          border-radius: 5px;
        }
        &:hover,
        &:focus {
          background:$darkColor;
          @include screen('mobile') {
            background:$secondaryColor;
          }
        }
      }
    }
  }
  .footer_info {
    flex:1 1 auto;
    color: #fff;
    font-size: 0.875em;

  }
  .footer_link2 {
    font-size: 0.875em;
    padding: 0 3em 0 0!important;
    margin: 4px auto 0 auto;
    @include clearfix();
    ul{
      @include li-reset();
      display: flex;
      // @include screen('mobile') {
      //   flex-direction: column;
      // }
      li {
        flex:0 1 auto;
        margin: 0px 5px 5px 0px;
        display: flex;
        white-space: nowrap;
        @include screen('mobile') {
          flex:1 1 100%; 
        }
        a {
          display: inline-block;
          transition: all .3s ease-out;
        }
      }
      &:nth-child(2){
        li {
          flex:0 1 auto;
          margin: 0px 5px 5px 0px;
          @include screen('mobile') {
            flex:1 1 100%; 
          }
          a {
            display: block;
            padding: .5em 1.5em;
            background: $darkColor;
            color: #FFF;
            border-radius:25px;
            text-align: center;
            &:hover,
            &:focus {
              background: $secondaryColor;
            }
          }
        }
      }
    }
    .fb{
      color: #fff;
      margin-bottom: 18px;
      @include screen('mobile') {
        margin-bottom: 0;
      }
      li{
        line-height: 42px;
        margin-right: 20px;
        cursor: pointer;
        a{
          width: 42px;
          height: 42px;
          background:transparent url(../images/basic/icon_fb.png) no-repeat center center;
          border:2px solid #fff;
          border-radius:50%;
          vertical-align: middle;
          margin-right: 8px;
        }
        &:hover,&:focus{
          a{
            background:$lightColor url(../images/basic/icon_fb.png) no-repeat center center;
          }
        }
      }
    }
  }
  p {
    line-height: 1.65em;
    margin: 0;
  }
  .update,
  .counter {
    display: inline-block;
    margin-right: 5px;
    em {
      font-style: normal;
      padding: 0 .5em;
    }
  }
}